*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Russo One', sans-serif;
    font-weight: normal;
}

body {
    color: white;
    background: rgb(28, 0, 36);
    background: linear-gradient(90deg, rgb(36, 0, 18) 55%, rgb(83, 15, 32) 100%);
    margin: 0;
    padding: 0;
    outline: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.container {
    display: flex;
    justify-content: space-around;
    gap: 5px;
}
