*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Russo One', sans-serif;
    font-weight: normal;
}

body {
    color: white;
    background: rgb(28, 0, 36);
    background: linear-gradient(90deg, rgb(36, 0, 18) 55%, rgb(83, 15, 32) 100%);
    margin: 0;
    padding: 0;
    outline: none;
}

.controls {
    margin: 0 0 25px 10px;
}

.controls > button,
.calcvalue > button {
    cursor: pointer;
    color: inherit;
    background: darkred;
    outline: none;
    border-style: none;
    padding: 10px 20px;
    margin-right: 10px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 5px;
    row-gap: 30px;
}
